@import "../global/base/var/index";
@import (reference) "../global/index";
@import (reference) "../layout/index";
@import (reference) "../text/index";

/**
 * -circle- 半圆
 * 注：宽度根据业务自定义
 */
.border-radius(@h, @bgColor, @side, @fontColor) {
  .flex-center;
  height: @h;
  border-top-@{side}-radius: @h/2;
  border-bottom-@{side}-radius: @h/2;
  background: @bgColor;
  color: @fontColor;
  box-sizing: border-box;
}

.border-radius-white(@h, @side) when (@side = 'left') {
  height: @h;
  border: solid 1rpx @theme-dark;
  border-right: none;
}

.border-radius-white(@h, @side) when (@side = 'right') {
  height: @h - 2rpx;
  border: solid 1rpx @theme-dark;
  border-left: none;
}

.label-right-circle-gradient {
  .border-radius(@h: @height-label, @side: right, @bgColor: @color-bg-gradient, @fontColor: @color-text-white)
}

.label-left-circle-gradient {
  .border-radius(@h: @height-label, @side: left, @bgColor: @color-bg-gradient, @fontColor: @color-text-white)
}

.label-right-circle-theme {
  .border-radius(@h: @height-label, @side: right, @bgColor: @color-bg-theme, @fontColor: @color-text-white)
}

.label-left-circle-theme {
  .border-radius(@h: @height-label, @side: left, @bgColor: @color-bg-theme, @fontColor: @color-text-white)
}

.label-right-circle-white {
  .border-radius(@h: @height-label, @side: right, @bgColor: @color-bg-white, @fontColor: @color-text-theme);
  .border-radius-white(@h: @height-label, @side: 'right');
}

.label-left-circle-white {
  .border-radius(@h: @height-label, @side: left, @bgColor: @color-bg-white, @fontColor: @color-text-theme);
  .border-radius-white(@h: @height-label, @side: 'left');
}

.label-right-circle-theme-lighter {
  .border-radius(@h: @height-label-share, @side: right, @bgColor: @color-bg-theme-light, @fontColor: @color-text-theme)
}

.label-left-circle-theme-lighter {
  .border-radius(@h: @height-label-share, @side: left, @bgColor: @color-bg-theme-light, @fontColor: @color-text-theme)
}

/**
 * label
 * 空心标签，用于标识某个模块
 * 该标签宽高根据内容自适应
 * 默认白底，主题色边框
 */
.label-adaption-tab {
  .border-theme;
  .dib;
  .font-size-26;
  .font-color-theme;
  .pl3;
  .pr3;
  padding-top: @unit;
  padding-bottom: @unit;
  border-radius: @border-radius;
  box-sizing: border-box;
}

.label-adaption-tab-gray {
  .dib;
  .pl3;
  .pr3;
  .font-color-gray;
  .ellipsis-1;
  .font-size-28;
  .border;
  border-radius: @border-radius;
}

.label-adaption-tab-theme {
  .dib;
  .pl3;
  .pr3;
  .font-color-white;
  .ellipsis-1;
  .font-size-28;
  .bg-color-theme;
  border-radius: @border-radius;
}

.label-package-tag {
  font-family:@font-family-for-number-pingfang;
  height:48rpx;
  width:120rpx;
  .font-color-theme;
  .bg-color-theme-light;
  .font-size;
  text-align:center;
  line-height:23px;
  border-radius:0 0 100px;
  position:absolute;
  z-index:1;
}



