
@import (reference, multiple) "../global/index";

.db {
  display: block;
}

.df {
  display: flex;
}

.dib {
  display: inline-block;
}

/**
  * 定位
 */
.por {
  position: relative;
}

.pob {
  position: absolute;
}

.pof {
  position: fixed;
}

/**
  * 浮动
 */

.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  .df;
  .flex-1;
  flex-wrap: nowrap;
  flex-direction: row;
}

@level: 10;
.grid(@level, @i:1) when (@i <= @level) {
  .grid-@{i} {
    width: percentage(1/@i);
    box-size: border-box;
  }
  .grid(@level, (@i+1));
}

.flex-column-wrap {
  .df;
  .w100p;
  .grid(@level);
}

/**
  * 默认换行
  * is-wrap-false 不换行
 */
//框架布局 start
.is-wrap-false {
  flex-flow: initial;
}

.is-wrap-true {
  flex-flow: wrap;
}

/**
  * 固定定位
  */
.layout-fixed {
  .pof;
  .pt3;
  .pb3;
  width: 100%;
  background-color: @normal-color-white;
}
/**
  * 定位至页面底部
  */
.layout-fixed-bottom {
  .layout-fixed;
  bottom: 0;
  .border-top;
}
/**
  * 定位至页面顶部
 */
.layout-fixed-top {
  .layout-fixed;
  top: 0;
}

.wrap {
  .plr;
  background-color: @normal-color-white;
  box-sizing: border-box;
}

.wrap-radius {
  .plr;
  .ptb;
  border-radius: @border-radius;
}


.layout-vertical-wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.layout-horizontal-wrap {
  display: flex;
  flex-direction: row;
  background-color: @normal-color-white;
  flex-flow: wrap;
  width: 100%;
  box-sizing: border-box;

  .layout-fixed-width {
    flex: 0;
    min-width: 50px;
    height: 50px;
  }

  & .layout-line-n {
    flex: 1;
    box-sizing: border-box;
    .pr4;
    .pl4;
    .pt4;
    .pb4;
    min-height: @min-height;
  }

  & .layout-line-n-border {
    .border-top-right-bottom;
  }
  & .layout-line-n-margin {
    margin-left: @base-margin*2;
  }
  & .layout-line-n-border:first-of-type {
    .border-left;
  }
  & .layout-line-n-margin:first-of-type {
    margin: 0;
  }

  .generate-columns(4);
  .generate-columns(@n, @i: 1) when (@i =< @n) {
    .layout-line-@{i} {
      width: percentage(1/@i);
      padding: @base-margin*4;
      min-height: @min-height;
      box-sizing: border-box;
    }

    //定义方法
    .layout-line-(@a) {
      width: percentage(1/@a);
      padding: @base-margin*4;
      min-height: @min-height;
      box-sizing: border-box;
    }

    // 类名判断 等于 1 .border-bottom 大于 1 .border-right-bottom
    .mixin (@a) when (@a = 1) {
      .border-bottom;
    }
    .mixin (@a) when (@a > 1) {
      .border-right-bottom;
    }
    // 类名判断 end

    .layout-line-@{i}-border {
      .mixin(@i);
      .layout-line-(@i);
    }

    .layout-line-@{i}-border:nth-child(@{i}) {
      .border-right-none
    }

    .generate-columns(@n, (@i + 1));
  }
}
.layout-horizontal-left,
.layout-horizontal-right {
  flex: 1;
}

//内容布局
.content {
  .df;
  flex-flow: row;
}
.content-column {
  .df;
  flex-flow: column;
}
.flex-center {
  .content;
  justify-content: center;
  align-items: center;
}
.flex-end {
  .content;
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  .content;
  justify-content: flex-start;
  align-items: center;
}

// flex 垂直居中，水平两端对齐
.flex-spaceBetween-center {
  .content;
  justify-content: space-between;
  align-items: center;
}

// 内容垂直排列，并且水平垂直方向居中
.flex-center-center {
  .content-column;
  justify-content: center;
  align-items: center;
}

/* 水平垂直对齐方式 start */
.flex-start-center {
  .content-column;
  align-items: start;
  justify-content: center;
}
/* 水平垂直对齐方式 end */

.box-child-horizantal {
  -webkit-box-orient: horizontal;
}

.content-vertical-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-horizontal-right {
  display: flex;
  justify-content: flex-end;
}

.content-horizontal-left {
  display: flex;
  justify-content: flex-start;
}

.content-vertical-align-right {
  text-align: right;
}

.content-vertical-align-center {
  text-align: center;
}

.content-vertical-center {
  display: flex;
  align-items: center;
}

.content-vertical-top {
  display: flex;
  align-items: flex-start;
}

.content-vertical-bottom {
  display: flex;
  align-items: flex-end;
}

// 列表
/* 小程序原生不支持该伪类 */
//& :only-child {
//  max-width: 50%;
//  white-space: nowrap;
//  overflow: hidden;
//}
.layout-spaceBetween-center {
  .w100p;
  .flex-spaceBetween-center;
  
  .child {
    max-width: 50%;
    overflow: hidden;
  }
}
