
/*
 * 云超基础色调
 */

/* 渐变 */
@img-btn-bg-linear-gradient: linear-gradient(90deg, #FF8B3B 0%, #FF322E 100%);

/* 颜色 */
@delete-red: #E62117;
@theme-dark: #FF2C2C;
@theme: #FF5436;
@theme-light: #FFF2EC;
@color-price: #FF3500;

@color-page: #F8F8F8;
@color-filter-bg: rgba(0,0,0,0.5); // 黑色透明背景
@border-gray: #f5f5f5;
