
@import "./var/index";

page {
  font-size: @unit-font;
  font-family: @font-family;
  color: @color-text-gray;
  background-color: @color-bg-page;
}

.height-common {
  height: @height;
}

.line-height-common {
  line-height: @height;
}

.bg-color-theme {
  background-color: @theme-color!important;
}

.bg-color-theme-light {
  background-color: @color-bg-theme-light!important;
}

.bg-color-transparent {
  background-color: transparent!important;
}

.bg-color-delete-red {
  background-color: @color-bg-delete-red;
}

.bg-color-gradient {
  background: @color-bg-gradient;
}

.bg-color-white {
  background-color: @color-bg-white;
}
