/**
  * 以 border 的数量命名
 */
.border-none {
  border: none;
}
.border-2-none {
  border-left: none;
  border-top: none;
}
.border-1-bottom-none {
  border-bottom: none;
}
.border-1-left-none {
  border-left: none;
}
.border-1-right-none {
  border-right: none;
}
.border-4 {
  border: solid 1px #F5F5F5;
}
.border-3 {
  border: solid 1px #F5F5F5;
  border-left: none;
}
.border-2 {
  border: solid 1px #F5F5F5;
  border-left: none;
  border-top: none;
}
.border-1-top {
  border-top: solid 1px #F5F5F5;
}
.border-1-bottom {
  border-bottom: solid 1px #F5F5F5;
}
.border-bottom {
  border-bottom: solid 1px #F5F5F5;
}
.border-1-left {
  border-left: solid 1px #F5F5F5;
}
